<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<h3>String passed successfully</h3>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Hello</h1>
	<p>
		<span th:text="${message}"> </span>
	</p>
</body>
</html>