<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thymeleaf Demo</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>First name</th>
				<th>Last name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="temp:${users}">
				<td th:text="${temp . id}" />
				<td th:text="${temp.firstName}" />
				<td th:text="${temp.lastName}" />
			</tr>
		</tbody>
	</table>
</body>
</html>
